<%- include("header.ejs") %>

<h1>About Me</h1>
<img class = "profile" src = "/public/images/cat_image.jpg" alt = "cat profile">
<p>What do you get when you combine cats and epic-level trolling? Only one of the most 
    popular Reddit posts of all time: the hilarious “Cat Facts” prank from Reddit user 
    “frackyou” is the eighth-most popular post on Reddit, and now its a mobile app you 
    can use to automate cat facts-style pranking on your unsuspecting friends.
    Cat Facts? Whats Cat Facts, you say?
    
    In case you somehow missed it, Cat Facts refers to this prank, posted here on Reddit 
    a couple of years ago. According to the original poster, his little cousin had shared 
    his new phone number on Facebook, and was soon the recipient of unwanted texts which 
    purported to be from some automated service called “Cat Facts,” but were really from 
    his older cousin.</p>

    <%- include("footer.ejs") %>